<div class="navbar bg-base-100">
    <div class="navbar-start">
<!--      <div class="dropdown">-->
<!--        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">-->
<!--          <svg-->
<!--            xmlns="http://www.w3.org/2000/svg"-->
<!--            class="h-5 w-5"-->
<!--            fill="none"-->
<!--            viewBox="0 0 24 24"-->
<!--            stroke="currentColor">-->
<!--            <path-->
<!--              stroke-linecap="round"-->
<!--              stroke-linejoin="round"-->
<!--              stroke-width="2"-->
<!--              d="M4 6h16M4 12h8m-8 6h16" />-->
<!--          </svg>-->
<!--        </div>-->
<!--        <ul-->
<!--          tabindex="0"-->
<!--          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">-->
<!--          <li><a>Item 1</a></li>-->
<!--          <li>-->
<!--            <a>Parent</a>-->
<!--            <ul class="p-2">-->
<!--              <li><a>Submenu 1</a></li>-->
<!--              <li><a>Submenu 2</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li><a>Item 3</a></li>-->
<!--        </ul>-->
<!--      </div>-->


      <a class="btn btn-ghost text-xl">luckytap</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 z-10">


        <li>
          <a class="glass mr-5" (click)="openWalletDialog()">Deposit</a>
        </li>
        <li>
          <a class="glass" (click)="openWalletDialog()">Rewards</a>
        </li>



        <app-wallet-menu></app-wallet-menu>


      </ul>
    </div>
    <div class="navbar-end">

    <div>
        <button (click)="openWalletDialog()" class="btn">
            $TAPS:
            <div class="badge badge-neutral">17.33</div>
          </button>


    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle flex items-center space-x-1">
        <div class="w-6">
          <img alt="Avatar" src="https://freesvg.org/img/Male-Avatar.png" />
        </div>
        <svg width="2px" height="2px" class="h-2 w-2 fill-current opacity-60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
          <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
        </svg>
      </div>

      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
<!--        <li>-->
<!--          <a class="justify-between">-->
<!--            Profile-->
<!--&lt;!&ndash;            <span class="badge">New</span>&ndash;&gt;-->
<!--          </a>-->
<!--        </li>-->



        <li><label (click)="showProfileModal('user=912398123912')"class="btn">Profile</label></li>
        <li><label (click)="showSettingsModal('user=912398123912')" class="btn">Settings</label></li>
        <li><label class="btn">
          Dark/Light mode
          <button (click)="changeTheme()" id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
            <svg *ngIf="isDarkEnable" id="theme-toggle-dark-icon" class=" w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
            <svg *ngIf="!isDarkEnable" id="theme-toggle-light-icon" class=" w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          </button>

        </label></li>
        <li  class="ml-auto"><a>Logout</a></li>
      </ul>
    </div>
    </div>
  </div>
