

<app-header-user-panel></app-header-user-panel>
    <div *ngIf="!loggedIn">
      <h1>Login</h1>
      <form (ngSubmit)="login()">
        <label for="email">2fa:</label>
        <input [(ngModel)]="twoFACode" name="twoFACode" placeholder="Enter 6-digit code">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
         <app-recaptcha></app-recaptcha>
        <button type="submit">Login</button>
        <p *ngIf="error">{{error}}</p>
      </form>
      <a routerLink="/register">Register</a>
      <h2>Or login with:</h2>
      <button (click)="loginWithGoogle()">Login with Google</button>
    </div>
    
    <div *ngIf="loggedIn && !twoFASetup">
      <button (click)="setup2FA()">(click)Setup 2FA</button>
    </div>
    
    
    <div *ngIf="qrCode">
      <img [src]="qrCode" alt="2FA QR Code">
      <p>Secret: {{ secret }}</p>
    </div>




  


