

<app-header-user-panel></app-header-user-panel>
<!-- <app-sidenav></app-sidenav> -->

<div class="flex w-full flex-col lg:flex-row">

    <div class="flex w-auto flex-col">
        <div class="card bg-base-300 rounded-box grid h-auto place-items-center">
            <app-ladder-table></app-ladder-table>
        </div>
        <div class="divider "></div>
        <div class="card bg-base-300 rounded-box grid h-auto">
            <app-chat></app-chat>
        </div>
      </div>



  <div class="divider lg:divider-horizontal">

  </div>
  <div class="card bg-base-300 rounded-box grid h-auto flex-grow place-items-center">

    <app-coin class="mt-16"></app-coin>
    <app-bet-settings class="place-items-center"></app-bet-settings>

  </div>
</div>
<app-user-settings-modal></app-user-settings-modal>






