<div class="chat-container">
  <div #chatContainer class="messages-container text-xs overflow-y-auto">
  <div *ngFor="let message of messages" class="mb-0.5">
      <span class="text-gray-400 text-[0.6rem] mr-2 tooltip" data-tip="15 Jul">{{message.time}}</span>
      <span (click)="openProfile('userID')" class="cursor-pointer text-yellow-300 font-semibold mr-2 text-xs">{{message.username}}:</span>
      <span class="text-xs">{{message.text}}</span>
    </div>
  </div>

  <div class="input-container">
    <input
      type="text"
      placeholder="your message..."
      class="input input-bordered input-primary w-full max-h-[3vh] text-xs"
    />
  </div>
</div>
