
    <table class="table table-compact ">
      <thead>
        <tr>
          <th class="w-10">#</th>
          <th>user</th>
          <th>highest win</th>
          <th>reward</th>
          <th class="text-center">



</th>
        </tr>
      </thead>
      <tbody>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
            <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>
            <span class="badge badge-ghost badge-xs text-gray-200 dark:text-gray-500 absolute">2 minutes ago</span>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button (click)="openBetDetails('id123')" class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>
            <span class="badge badge-ghost badge-xs text-gray-200 dark:text-gray-500 absolute">2 minutes ago</span>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>
            <span class="badge badge-ghost badge-xs text-gray-200 dark:text-gray-500 absolute">just now</span>
          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
        <tr id="allow-interaction">
          <th>1</th>
          <td>
            <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
              <div class="avatar">
                <div class="mask mask-squircle w-8 h-8">
                  <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                </div>
              </div>
              <div>
                <div class="font-bold">player-1237sdsad</div>
                <div class="text-xs opacity-50">LVL. 717</div>
              </div>
            </div>
          </td>
          <td class="text-sm">
             <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

          </td>
                      <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
          <td>
            <button class="btn btn-ghost btn-xs">details</button>
          </td>
        </tr>
          <tr id="allow-interaction">
            <th>1</th>
            <td>
              <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
                <div class="avatar">
                  <div class="mask mask-squircle w-8 h-8">
                    <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">player-1237sdsad</div>
                  <div class="text-xs opacity-50">LVL. 717</div>
                </div>
              </div>
            </td>
            <td class="text-sm">
               <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>
            </td>
                        <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
            <td>
              <button class="btn btn-ghost btn-xs">details</button>
            </td>
          </tr>
          <tr id="allow-interaction">
            <th>1</th>
            <td>
              <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
                <div class="avatar">
                  <div class="mask mask-squircle w-8 h-8">
                    <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">player-1237sdsad</div>
                  <div class="text-xs opacity-50">LVL. 717</div>
                </div>
              </div>
            </td>
            <td class="text-sm">
               <h2 class="text-xl text-gray-200 dark:text-gray-500 sm:text-2xl">2,342.00</h2>

            </td>
                        <td class="text-sm">
               <h1 class="text-xl font-semibold text-green-900 dark:text-green-500 sm:text-2xl">1,003.00</h1>
            </td>
            <td>
              <button class="btn btn-ghost btn-xs">details</button>
            </td>
          </tr>
          <tr class="empty" id="allow-interaction">
            <th>5</th>
            <td>
              <div class="flex items-center space-x-3 cursor-pointer"
                 (click)="openProfile('tabletowy_guy')">
                <div class="avatar">
                  <div class="mask mask-squircle w-8 h-8">
                    <img src="https://freesvg.org/img/Male-Avatar.png" alt="Avatar" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">none yet</div>
                  <div class="text-xs opacity-50">-</div>
                </div>
              </div>
            </td>
            <td class="text-sm">

              <br />
              <span class="badge badge-ghost badge-sm">-</span>
            </td>
            <td>-</td>
            <td>
              <button class="btn btn-ghost btn-xs">-</button>
            </td>
          </tr>
        <!-- Repeat the above <tr> structure for the other rows -->
      </tbody>
    </table>
<app-bet-detail-modal></app-bet-detail-modal>
